@charset "UTF-8";
@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* remember to define focus styles! */
:focus {
  outline: 0;
}

body {
  line-height: 1;
  color: black;
  background: white;
}

ol,
ul {
  list-style: none;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: separate;
  border-spacing: 0;
}

caption,
th,
td {
  text-align: left;
  font-weight: normal;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}

blockquote,
q {
  quotes: "" "";
}

/*--------------------------------------------------------------*/
* {
  font-family: "Noto Sans TC", "微軟正黑體", sans-serif;
}

.title {
  font-size: 30px;
  letter-spacing: 4px;
  font-weight: 450;
  line-height: 1.5em;
}

.subtitle {
  font-size: 24px;
  font-weight: 450;
  line-height: 1.5em;
}

.big-title {
  font-size: 36px;
  font-weight: 500;
}

section {
  font-size: 20px;
  letter-spacing: 2px;
  line-height: 1.3em;
  font-weight: 400;
}

ul {
  display: flex;
  list-style: none;
}

.big-btn {
  background-color: rgb(30, 30, 30);
  width: 266px;
  height: 72px;
  color: #FCFCFC;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  border-radius: 10px;
  font-weight: 200;
  letter-spacing: 2px;
}

.designEx-btn {
  margin: 5em 0;
}
.designEx-btn ul {
  display: flex;
  justify-content: center;
}
.designEx-btn ul li {
  margin: 0 20px;
}
.designEx-btn ul li .btn {
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  width: 125px;
  background-color: #FCFCFC;
  height: 34px;
  box-shadow: 0px 2px 5px 0px rgba(128, 128, 128, 0.514);
  letter-spacing: 2px;
}
.designEx-btn ul li .picked {
  background-color: rgb(39, 44, 50);
  color: #FCFCFC;
  box-shadow: 0px 2px 5px 0px rgba(128, 128, 128, 0.514);
}
.designEx section {
  width: 64%;
  margin: auto;
  text-align: center;
  letter-spacing: 5px;
  line-height: 1.7em;
  margin-bottom: 5em;
}
.designEx .container {
  width: 97%;
  display: flex;
  margin: auto;
  flex-wrap: wrap;
  justify-content: center;
}
.designEx .container-item {
  margin-bottom: 7em;
}
.designEx .container-item-pic {
  width: 830px;
}
.designEx .container-item-pic img {
  width: 100%;
}
.designEx .container-item .title {
  margin-left: 10px;
  margin-bottom: 5px;
}
.designEx .container-item-btn {
  margin-left: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  width: 125px;
  height: 34px;
  letter-spacing: 2px;
  background-color: rgb(39, 44, 50);
  color: #FCFCFC;
  box-shadow: 0px 2px 5px 0px rgba(128, 128, 128, 0.514);
}

.clickMore-btn {
  margin-bottom: 9em;
  position: relative;
  bottom: 2em;
}

.container {
  position: relative;
  width: 100%;
}
.container .section-hero {
  width: 100%;
  position: relative;
}
.container .section-hero::after {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.247);
  content: "";
}
.container .section-hero-img {
  width: 100%;
}
.container .section-hero-img img {
  width: 100%;
}

.arrow-img {
  margin: 20px auto 80px;
  width: 35px;
}
.arrow-img img {
  width: 100%;
}

.section-main-pic {
  width: 100%;
  display: flex;
}
.section-main-pic-img img {
  width: 100%;
}
.section-main-text {
  width: 85%;
  margin: 2.5em auto 8em;
}
.section-main-text .title {
  margin-bottom: 8px;
}
.section-main-text section {
  position: relative;
  left: 4px;
}

.index-rwd {
  display: none;
}

@media (max-width: 800px) {
  .container .section-hero-img {
    overflow: hidden;
  }
  .container .section-hero-img img.index-rwd {
    display: block;
  }
  .container .section-hero-img img {
    display: none;
  }

  .section-main-pic {
    flex-direction: column;
  }
  .section-main-pic-img img.index-rwd {
    display: block;
  }
  .section-main-pic-img img {
    display: none;
  }
}
@media (max-width: 600px) {
  .section-main-text .title {
    font-size: 28px;
  }
  .section-main-text section {
    font-size: 16px;
  }
}
@media (max-width: 514px) {
  .section-main-text .title {
    font-size: 20px;
  }
  .section-main-text section {
    font-size: 12px;
  }
}
.about .title {
  margin: 3em 0em 2em 4em;
  font-weight: 400;
}
.about .subtitle {
  margin-left: 6.7em;
  position: relative;
  width: 323px;
}
.about .subtitle img {
  position: absolute;
}
.about .subtitle img.top {
  right: -40px;
  top: -30px;
}
.about .subtitle img.bottom {
  left: -73px;
  bottom: -36px;
}
.about .container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 3em;
}
.about .container section {
  margin-left: 6em;
  line-height: 1.7em;
}
.about .container-pic img {
  box-shadow: -2px 2px 8px 0px rgba(128, 128, 128, 0.336);
}
.about .designGroup {
  margin-bottom: 8em;
}
.about .designGroup-pic {
  display: flex;
  width: 100%;
  justify-content: center;
}
.about .designGroup-pic img {
  margin: 0 30px;
  box-shadow: 0px 4px 10px 0px rgba(88, 88, 88, 0.39);
}

.news {
  margin: 2em;
}
.news-item {
  margin: 5em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
}
.news-item-text {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0px 5px 7px 0px rgba(128, 128, 128, 0.521);
  width: 850px;
  height: 664px;
  background-color: #FCFCFC;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.news-item-text .title {
  margin-left: 15%;
}
.news-item-text .date {
  margin: 1.3em 15%;
}
.news-item-text section {
  margin: 0.4em auto;
  width: 70%;
  line-height: 1.8em;
  letter-spacing: 4px;
}

.news-btn {
  margin: 0em auto 4em;
  position: relative;
  bottom: 1em;
}

.page-process .process::after {
  position: absolute;
  width: 3.5px;
  height: 110em;
  content: "";
  background-color: rgb(30, 30, 30);
  left: 183px;
  top: 106px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
.page-process .reserve::after {
  position: absolute;
  width: 3.5px;
  height: 3em;
  content: "";
  background-color: rgb(30, 30, 30);
  left: 183px;
  top: 0px;
}
.page-process .reserve::before {
  position: absolute;
  width: 26px;
  height: 26px;
  content: "";
  background-color: rgb(30, 30, 30);
  left: 172px;
  top: 3em;
  border-radius: 50%;
}

.process {
  box-shadow: 0px 4px 15px 0px rgba(143, 143, 143, 0.425);
  background-color: #FCFCFC;
  width: 1122px;
  margin: auto;
  padding: 1px 0 20px 0;
  position: relative;
}
.process-item {
  display: flex;
  align-items: center;
  position: relative;
  margin-left: 32%;
  margin-top: 6em;
  width: 617px;
}
.process-item-number {
  position: absolute;
  top: -22px;
  left: -56px;
}
.process-item-pic {
  background-color: rgb(232, 232, 232);
  border-radius: 50%;
  display: flex;
  width: 158px;
  height: 158px;
  align-items: center;
  justify-content: center;
}
.process-item-text {
  margin-left: 4em;
}
.reserve {
  box-shadow: 0px 4px 15px 0px rgba(143, 143, 143, 0.425);
  background-color: #FCFCFC;
  width: 1122px;
  margin: 2.3em auto 0em auto;
  position: relative;
  padding: 2.2em 0 2em;
}
.reserve .title {
  text-align: center;
  font-weight: 400;
  margin-bottom: 0.4em;
}
.reserve section {
  text-align: center;
  letter-spacing: 4px;
  margin-bottom: 3.7em;
}
.reserve-smallBox {
  font-size: 16px;
  background-color: rgb(39, 44, 50);
  color: #FCFCFC;
  font-weight: 200;
  letter-spacing: 3px;
  width: 38px;
  padding: 6px;
  border-radius: 3px;
  position: absolute;
  top: 137px;
  right: 335px;
  text-align: center;
}
.reserve form {
  margin: 0em auto;
  padding: 0em 0 1em;
  position: relative;
}
.reserve form .title {
  margin-top: 2em;
}
.reserve form .reserve-smallBox {
  top: 31.5em;
}
.reserve form .container {
  height: 387px;
  overflow: hidden;
}
.reserve-inputBox {
  margin: 3em auto;
  width: 438px;
  position: relative;
  border-bottom: 2px solid rgb(30, 30, 30);
}
.reserve-inputBox input,
.reserve-inputBox select {
  width: 405px;
  height: 40px;
  border: none;
  left: 33px;
  top: 0px;
  position: relative;
}
.reserve-inputBox input::placeholder,
.reserve-inputBox select::placeholder {
  font-size: 18px;
  color: rgb(183, 183, 183);
}
.reserve-inputBox select {
  font-size: 18px;
  color: rgb(183, 183, 183);
  appearance: none;
  background: url("../img/reserve-arrowDown.svg") no-repeat right center transparent;
  background-size: 3%;
}
.reserve-inputBox img {
  position: absolute;
  top: 9px;
  left: 0px;
}
.reserve-clickMore {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 4.5em;
}
.reserve-clickMore section {
  margin-bottom: 0;
  letter-spacing: 1px;
  font-weight: 500;
}
.reserve-clickMore::after {
  position: absolute;
  width: 266px;
  height: 1px;
  right: 146px;
  top: 23px;
  content: "";
  background-color: rgb(226, 226, 226);
}
.reserve-clickMore::before {
  position: absolute;
  width: 266px;
  height: 1px;
  left: 146px;
  top: 23px;
  content: "";
  background-color: rgb(226, 226, 226);
}
.reserve-btn {
  margin: 5em auto 1em;
}
.reserve-text {
  margin-bottom: 2em !important;
}

.page-reserve .process {
  box-sizing: border-box;
  height: 300px;
  padding-top: 6em;
}
.page-reserve .process ::after {
  width: 0;
  height: 0;
}
.page-reserve .process .reserve-clickMore::after {
  width: 266px;
  height: 1px;
}
.page-reserve .reserve {
  padding-bottom: 13em;
}

.appointmentCompleted {
  display: flex;
  justify-content: center;
  margin-top: 12em;
  width: 80%;
  margin: 12em auto 12.5em 17%;
  height: 27em;
  position: relative;
}
.appointmentCompleted::after {
  position: absolute;
  width: 1px;
  height: 470px;
  top: 8px;
  left: 640px;
  content: "";
  background-color: rgb(112, 112, 112);
}
.appointmentCompleted .text-1 .big-title {
  margin-bottom: 0.8em;
}
.appointmentCompleted .text-2 {
  width: 550px;
  margin-left: 40%;
  margin-top: 9em;
}
.appointmentCompleted .text-2 .phone-number {
  margin: 2em 0 3em 0;
  display: flex;
  align-items: center;
}
.appointmentCompleted .text-2 .phone-number-text {
  font-size: 48px;
}
.appointmentCompleted .text-2 section {
  line-height: 1.6em;
}
.appointmentCompleted .text-2 section span {
  border-bottom: 1px solid black;
}

body {
  background-color: rgb(237, 229, 218);
}

.white {
  box-shadow: 0px 2px 6px 0px rgba(128, 128, 128, 0.527);
  width: 100%;
  z-index: 1;
  position: relative;
  background-color: #FCFCFC;
}
.white .header {
  display: flex;
  position: relative;
  align-items: center;
  height: 75px;
  width: 100%;
  margin: auto;
}
.white .header a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-weight: 200;
  letter-spacing: 4px;
}
.white .header-logo {
  margin-left: 7%;
}
.white .header-nav {
  display: flex;
  position: absolute;
  right: 25px;
}
.white .header-nav .picked::after {
  width: 97%;
  height: 2px;
  background-color: rgb(30, 30, 30);
  content: "";
  position: absolute;
  top: 1.5em;
  left: 0;
}
.white .header-nav-list ul li {
  position: relative;
  margin: 0 25px;
}
.white .header-nav-icon {
  margin-left: 22px;
}
.white .header-nav-icon ul li {
  margin-left: 7px;
}
.white .header-nav-languageSwitch {
  margin-left: 65px;
  color: black;
  font-weight: 300;
  display: flex;
  align-items: center;
}
.white .header-nav-languageSwitch .btn {
  margin: 0 5px;
  position: relative;
  font: 16px;
}
.white .header-nav-languageSwitch .btn.chinese:after {
  position: absolute;
  right: -6px;
  top: 3px;
  width: 1px;
  height: 12px;
  content: "";
  background-color: black;
}

.header {
  z-index: 1;
  display: flex;
  position: absolute;
  align-items: center;
  height: 75px;
  width: 85%;
  left: 0;
  right: 0;
  margin: auto;
  border-bottom: 1px solid rgba(255, 255, 255, 0.349);
}
.header a {
  text-decoration: none;
  color: #FCFCFC;
  font-size: 18px;
  font-weight: 200;
  letter-spacing: 4px;
}
.header-logo a {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 28px;
  letter-spacing: 0px;
}
.header-logo a .logo-text {
  margin-left: 10px;
}
.header-nav {
  display: flex;
  position: absolute;
  right: 25px;
}
.header-nav-list ul li {
  margin: 0 25px;
}
.header-nav-icon {
  margin-left: 22px;
}
.header-nav-icon ul li {
  margin-left: 7px;
}
.header-nav-languageSwitch {
  margin-left: 65px;
  color: #FCFCFC;
  font-weight: 300;
  display: flex;
  align-items: center;
}
.header-nav-languageSwitch .btn {
  margin: 0 5px;
  position: relative;
  font: 16px;
}
.header-nav-languageSwitch .btn.chinese:after {
  position: absolute;
  right: -6px;
  top: 3px;
  width: 1px;
  height: 12px;
  content: "";
  background-color: rgb(255, 255, 255);
}

.footer {
  width: 85%;
  margin: auto;
  display: flex;
  align-items: center;
  height: 33px;
  justify-content: space-between;
  border-top: 1px solid rgb(183, 183, 183);
}
.footer-text {
  color: rgb(183, 183, 183);
  font-size: 18px;
}

.black .footer-text {
  color: black;
}

/*# sourceMappingURL=style.css.map */
