.about {
    .title {
        margin: 3em 0em 2em 4em;
        font-weight: 400;
    }

    .subtitle {
        margin-left: 6.7em;
        position: relative;
        width: 323px;

        img {
            position: absolute;

            &.top {
                right: -40px;
                top: -30px;
            }

            &.bottom {
                left: -73px;
                bottom: -36px;
            }
        }
    }

    .container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 3em;

        section {
            margin-left: 6em;
            line-height: 1.7em;
            width: 594px;
        }

        &-pic {
            width: 50%;

            img {
                width: 100%;
                box-shadow: -2px 2px 8px 0px rgba(128, 128, 128, 0.336);
            }

        }

    }

    .designGroup {
        margin-bottom: 8em;

        &-pic {
            display: flex;
            width: 100%;
            justify-content: center;

            img {
                width: 20%;
                margin: 0 30px;
                box-shadow: 0px 4px 10px 0px rgba(88, 88, 88, 0.39);
            }
        }
    }
}







@media(max-width:1400px) {
    .about {


        .title {
            margin: 3em auto 2em;
            width: 600px;
        }

        .subtitle {
            margin: auto !important;
        }

        .container {
            flex-direction: column;


            section {
                margin: 0 auto 3em !important;
                width: unset;
            }

            &-pic {
                margin: auto;
                width: 100% !important;
            }

        }
    }


    .designGroup {
        background-color: $white;
        padding: 2em 1em;

        margin-bottom: 8em;

        &-title {
            margin-left: 10% !important;
        }

        &-pic {
            display: flex;
            width: 100%;


            img {
                width: 20%;
            }
        }
    }
}



@media(max-width:992px) {
    .designGroup {

        &-title {
            margin-left: 10% !important;
        }

        &-pic {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            row-gap: 2em;


            img {
                width: 40% !important;
            }
        }
    }
}

@media(max-width:768px) {
    .about {
        .title {
            width: 80%;
        }
    }
}


@media(max-width:576px) {
    .about {
        section {
            font-size: 16px;
        }
    }

    .about {

        .subtitle {
            position: relative;
            width: 80%;
            font-size: 20px;

            img {
                position: absolute;

                &.top {
                    width: 30px;
                    left: 270px;
                    top: -20px;
                }

                &.bottom {
                    width: 30px;
                    left: -38px;
                    bottom: -47px;
                }
            }
        }

        section {
            font-size: 12px;
        }
    }
}