.appointmentCompleted {
    display: flex;
    justify-content: space-between;
    margin-top: 12em;
    width: 80%;
    margin: 12em auto 12.5em 17%;
    height: 27em;
    position: relative;

    &::after {
        position: absolute;
        width: 1px;
        height: 470px;
        top: 8px;
        left: 43%;
        content: "";
        background-color: $line-black;
    }


    .text-1 {

        .big-title {
            margin-bottom: 0.8em;
        }

        .title {}

        section {}
    }

    .text-2 {
        width: 550px;

        margin-top: 9em;

        .title {}

        section {}

        .phone-number {
            margin: 2em 0 3em 0;
            display: flex;
            align-items: center;

            &-icon {}

            &-text {
                font-size: 48px;
            }
        }

        section {
            line-height: 1.6em;

            span {
                border-bottom: 1px solid black;
            }
        }


    }
}

@media(max-width:1341px) {
    .appointmentCompleted {
        &::after {
            height: 0;
        }

        flex-direction: column;
        margin: 12em auto 24em auto;
    }
}