.container {
    position: relative;
    width: 100%;



    .section-hero {
        width: 100%;
        position: relative;

        &::after {
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            background-color: rgba(0, 0, 0, 0.247);
            content: "";
        }


        &-img {
            width: 100%;

            img {


                width: 100%;
            }
        }
    }
}




.arrow {
    &-img {
        margin: 20px auto 80px;
        width: 35px;

        img {
            width: 100%;
        }
    }
}


.section-main {

    &-pic {
        width: 100%;
        display: flex;

        &-img {

            img {
                width: 100%;
            }
        }
    }

    &-text {

        width: 85%;
        margin: 2.5em auto 8em;

        .title {
            margin-bottom: 8px;
        }

        section {
            position: relative;
            left: 4px;
        }
    }
}