.page-reserve {
    .process {
        box-sizing: border-box;
        height: 300px;
        padding-top: 6em;

        ::after {
            width: 0;
            height: 0;
        }

        .reserve-clickMore::after {
            width: 266px;
            height: 1px;
        }
    }

    .reserve {
        padding-bottom: 13em;
    }
}

@media (max-width:1200px) {
    .page-reserve {
        .process {


            .reserve-clickMore {
                &::after {
                    right: 5%;
                    width: 25%;
                }


            }

        }
    }


}

@media (max-width:768px) {
    .page-reserve {
        .reserve {
            margin-top: 0;
            box-shadow: 0px 6px 15px 0px rgba(143, 143, 143, 0.425);
        }
    }
}

@media (max-width:576px) {
    .page-reserve {
        .process {
            section {
                font-size: 14px;
            }
        }
    }
}