@import 'initial';
@import 'color';
@import 'variable';
@import 'designex';
@import 'index';
@import 'about';
@import 'news';
@import 'process';
@import 'reserve';
@import 'appointmentCompleted';
@import 'product';


@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);

* {
    font-family: 'Noto Sans TC', '微軟正黑體', sans-serif;
}

.title {
    font-size: $large;
    letter-spacing: 4px;
    font-weight: 450;
    line-height: 1.5em;
}

.subtitle {
    font-size: 24px;
    font-weight: 450;
    line-height: 1.5em;
}

.big-title {
    font-size: 36px;
    font-weight: 500;
}

section {
    font-size: $mid;
    letter-spacing: 2px;
    line-height: 1.3em;
    font-weight: 400;
}

ul {
    display: flex;
    list-style: none;
}

.big-btn {
    background-color: $black;
    width: 266px;
    height: 72px;
    color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    border-radius: 10px;
    font-weight: 200;
    letter-spacing: 2px;
}


body {
    background-color: $theme-color;
}



.white-bg-header {
    box-shadow: 0px 2px 6px 0px rgba(128, 128, 128, 0.527);
    width: 100%;
    z-index: 1;
    position: relative;
    background-color: $white;



    .header {
        .menu-btn {
            display: none;
        }

        display: flex;
        position: relative;
        align-items: center;
        height: 75px;
        width: 100%;
        margin: auto;

        a {
            text-decoration: none;
            color: black;
            font-size: $small;
            font-weight: 200;
            letter-spacing: 4px;
        }

        &-logo {
            margin-left: 7%;
        }

        &-nav {
            display: flex;
            position: absolute;
            right: 25px;

            .activate::after {
                width: 97%;
                height: 2px;
                background-color: $black;
                content: "";
                position: absolute;
                top: 1.5em;
                left: 0;
            }

            &-list {
                ul {


                    li {
                        img {
                            display: none;
                        }

                        position: relative;
                        margin: 0 25px;
                    }
                }
            }

            &-icon {
                margin-left: 22px;

                ul {
                    li {
                        margin-left: 7px;
                    }
                }
            }

            &-languageSwitch {
                margin-left: 65px;
                color: black;
                font-weight: 300;
                display: flex;
                align-items: center;

                .btn {
                    margin: 0 5px;
                    position: relative;
                    font: $smaill_small;
                }

                .btn.chinese:after {
                    position: absolute;
                    right: -6px;
                    top: 3px;
                    width: 1px;
                    height: 12px;
                    content: "";
                    background-color: black;
                }
            }
        }

    }
}



.messenger-btn {
    z-index: 1;
    width: 86px;
    position: fixed;
    bottom: 2em;
    right: 2em;

}


.footer {
    width: 85%;
    margin: auto;
    display: flex;
    align-items: center;
    height: 33px;
    justify-content: space-between;
    border-top: 1px solid $grey;

    div {
        color: $grey;
        font-size: $small;
    }

}

.black-font-footer {
    .footer {
        div {
            color: black;
        }


    }
}

@media (max-width:1200px) {

    .footer {
        padding: 2em 0 12px;
        height: auto;
        display: grid;
        grid-template-rows: 1fr 1fr 3fr 1fr;
        justify-content: center;
        text-align: center;
        row-gap: 10px;

        &-text-1 {
            grid-row: 4/5;
        }

        &-text-2 {
            grid-row: 1/2;
        }

        &-text-3 {
            grid-row: 2/3;
        }

        &-text-4 {
            padding-bottom: 1.2em;
            grid-row: 3/4;
        }

    }
}

@media (max-width:1200px) {
    .white-bg-header {
        .header {
            justify-content: center;

            .menu-btn {
                display: block;
                position: absolute;
                left: 20px;
            }


            &-nav {
                box-shadow: inset -2px 0px 5px 0px rgba(138, 138, 138, 0.39);
                background-color: $theme-color;
                display: block;
                position: fixed;
                top: 0;
                left: -220px;
                animation: b 0.2s;
                width: 220px;
                height: 100vh;
                padding-top: 6em;

                .activate::after {
                    height: 0px;
                }

                &-list {

                    ul {
                        flex-direction: column;
                        width: 88%;
                        align-items: center;

                        li {

                            img {
                                display: inline-block;
                            }

                            margin: 1em 0;
                        }
                    }
                }

                &-icon {
                    margin-top: 12em;
                    margin-left: 3em;

                    li {
                        margin-right: 10px;
                    }
                }

                &-languageSwitch {
                    position: absolute;
                    top: 2.5em;
                    margin-left: 41px;
                }

            }


            &-logo {
                position: relative;
                right: 20px;
            }
        }
    }

    body {
        position: relative;
        left: 0px;
        transition: left 0.2s;
    }

    .nav-open {
        width: 100%;
        position: fixed;
        overflow-x: hidden;
        left: 220px;
        transition: left 0.2s;


        @keyframes a {
            0% {
                left: -220px;
            }

            100% {
                left: 0px;
            }

        }

        @keyframes b {
            0% {
                left: 0px;
            }

            100% {
                left: -220px;
            }

        }

        .header {
            &-nav {
                left: 0px;
                animation: a 0.2s;
            }
        }


    }

}

@media(max-width:992px) {
    .messenger-btn {
        display: none;
    }
}